<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Posts</h1>
    <ul>

        {% for post in object_list %}
            <li>

                <a href="{% url 'detail' post.pk %"></a>{{ post.title }}: by
                {{ post.author }}
                <br>
                {{ post.body }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>