{% extends 'onlyloggedin.html' %}
{% block content %}
    <form action="{% url 'newpost' %}" method="POST">
        {% csrf_token %}
        <textarea name="" id="" cols="20" rows="10" placeholder="Title"></textarea>
        <br>
        <textarea name="" id="" cols="10" rows="2" placeholder="Author"></textarea>
        <br><br><br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Actual Story"></textarea>
        <button type="submit">Post it!</button>
    </form>
{% endblock %}