{% extends 'onlyloggedin.html' %}
{% block content %}
    <form action="{% url 'newpost' %}" method="POST">
        {% csrf_token %}
        <textarea name="title" id="title" cols="20" rows="10" placeholder="Title"></textarea>
        <br>
        <textarea name="author" id="author" cols="10" rows="2" placeholder="Author">{{user}}</textarea>
        <br><br><br>
        <textarea name="body" id="body" cols="30" rows="10" placeholder="Actual Story"></textarea>
        <button type="submit">Post it!</button>
    </form>
{% endblock %}