<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'newpost' %}" method="POST"></form>
        <textarea name="" id="" cols="20" rows="10" placeholder="Title"></textarea>
        <br>
        <textarea name="" id="" cols="10" rows="2" placeholder="Author"></textarea>
        <br><br><br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Actual Story"></textarea>
        <button type="submit">Post it!</button>
</body>
</html>